# A sample configuration file.

# You should edit these values according to 
# https://cran.r-project.org/web/packages/twitteR/README.html

twitter_api_key <- "YOUR API KEY"
twitter_api_secret <- "YOUR API SECRET"
twitter_access_token <- "YOUR ACCESS TOKEN"
twitter_access_secret <- "YOUR ACCESS SECRET"
